.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#random-movie {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    transition: all 500ms ease-in-out;
}
